* {
    box-sizing: border-box;
    font-family: sans-serif;}

h1 {
    font-size: 175%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.section {
    float: left;
    border: 1px black solid;
    background-color: rgb(170, 170, 170);
}

.title {
    float: right;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 175%;
    border: 1px black;
    border-style: none none solid solid;
}

.content {
    padding: 40px 0px 10px 10px;
    font-size: 125%;
}

.Chicken {
    background-color: darksalmon;
}

.Beef {
    background-color: lightcoral;
}

.Sushi {
    background-color: wheat;
}

@media (min-width: 992px) {
    .section {
        margin: 10px 0% 10px 2.5%;
    }
    .section_chicken {
        width: 30%;
    }
    .section_beef {
        width: 30%;
    }
    .section_sushi {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        margin: 10px 0% 10px 4%;
    }
    .section_chicken {
        width: 44%;
    }
    .section_beef {
        width: 44%;
    }
    .section_sushi {
        width: 92%;
    }
}

@media (max-width: 767px) {
    .section {
        margin: 10px 0% 10px 4%;
    }
    .section_chicken {
        width: 92%;
    }
    .section_beef {
        width: 92%;
    }
    .section_sushi {
        width: 92%;
    }
}